<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/favicon.svg') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <style>
      .content {
        width: 70%;
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
    <script
      id="replace_with_navbar"
      src="{{ url_for('static', filename='nav.js') }}"
    ></script>
    <div class="content">
      <h1>About</h1>
      <p>
        This site uses data from the City of Toronto's open data portal. <br />
        Check it out for yourself at
        <a href="https://open.toronto.ca">open.toronto.ca</a>.
      </p>

      <p>
        It shouldn’t be difficult to figure out where your councillors stand on issues that matter to you.
      </p>
      <p>
        What happens after you cast your ballot? You deserve a government that listens to you all the time, not just during election season. Keep yourself informed of the happenings of Toronto City Council. Determine whether your elected officials really represent you. Demand better.
      </p>
      <p>
        Political apathy is all-too prevalent today, even though information should be more accessible than ever before. This is especially true when it comes to municipal politics here in Toronto. It is extra difficult to determine which candidates best align with your priorities, but it shouldn't be.
      </p>
      <p>
        Inspired by other open parliamentary projects that target various federal governments, I wanted to create a tool that made the happenings of Toronto City Council more accessible and relevant. I believe that voter responsibility does not stop on election day, and that voters should be able to continue to scrutinize an official once elected–“track your vote,” so to speak.
      </p>
    </div>
  </body>
</html>
