<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error 404</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/favicon.svg') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <script
      id="replace_with_navbar"
      src="{{ url_for('static', filename='nav.js') }}"
    ></script>
    <div class="content">
      <p>Error 404: Page not found</p>
    </div>
  </body>
</html>
